<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet"
          href="https://unpkg.com/flowbite@1.5.4/dist/flowbite.min.css"/>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title>Employee</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="container flex justify-center m-4 mx-auto">
        <p class="text-6xl text-sky-700 font-bold">admin Page</p><br/>
    </div>
    <div class="container text-[#101010] flex justify-center m-4 mx-auto">
        <p class="text-4xl font-bold" >admin</p><br/>
    </div>
</div>
<script src="https://unpkg.com/flowbite@1.5.4/dist/flowbite.js"></script>
<script
        src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
</body>
<!-- Navigation Bar -->
</html>